<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the <%= data.name %> reddit</h1>
    <h2>Subs: <%= data.subscribers %> </h2>
    <p><%= data.description %></p>
    <% for(let post of data.posts){ %>
        <ul>
        <!-- Here we are just outputting 1 cat at a time from the array -->
            <h3>Title: <%=post.title%></h3>
            <h4>Author: <%=post.author%></h4>
            <% if(post.img){ %>
                <img src="<%= post.img %>" alt="">
                    <% } %> 
        </ul>
        <%  } %>
</body>
</html>